* {
  box-sizing: border-box;
}
body {
  background: #2554FF !important;
  min-height: 100vh;
  font-weight: 400;
}
body,
html,
.App,
.vue-tempalte,
.vertical-center {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.inner-block {
  width: 450px;
  margin: 50px auto auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}
.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
label {
  font-weight: 500;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}
.forgot-password a {
  color: #2554FF;
}
.social-icons {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5em;
  color: #222222;
}
.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons ul li {
  display: inline-block;
  zoom: 1;
  width: 65px;
  vertical-align: middle;
  border: 1px solid #e3e8f9;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  background: #f4f6ff;
}

.social-icons ul li a {
  display: block;
  font-size: 1.4em;
  margin: 0 5px;
  text-decoration: none;
}
.social-icons ul li a i {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-icons ul li a:focus i,
.social-icons ul li a:active i {
  transition: none;
  color: #222222;
}

$error_color : #c71b18;
$white_color: #ffffff;
$smoke_color: rgb(163 166 170);
$sidebar-background: #2f3136;
$botton-background: rgb(32 34 37);
$item-background:  #2f3136;
$item-background-hover: rgba(79,84,92,0.6);

#app {
  * {
    box-sizing: border-box;
  }

  nav.navbar {
    top: 0;
    width: 100%;
    height: 50px;
  }

  label {
    margin-bottom: 5px;
    font-weight: 300;
    color: inherit;
    font-size: inherit;
    padding: 0;
    outline: 0;
  }

  .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $smoke_color;
    font-weight: 600;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1;
    max-width: 180px;
  }

  .description {
    padding: 10px;
  }

  .has-error {
    border-color: $error_color;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  }

  .vue-tempalte .show-icon {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 2.8rem;
    background: none;
    margin-top: 23px;
  }

  .form-group {
    position: relative;
    margin-top: 10px;
  }

  .password-note {

    font-size: 14px;
    font-style: italic;
  }

  .login-form {

    button {
      margin-top: 10px;
    }
  }

  .signup-form {

    button {
      margin-top: 10px;
    }
  }

  .avatar {
    margin-right: 15px;
  }

  .avatar_tooltip {
    padding: 0;
    border-radius: 20px;
    background: transparent;

    .avatar {
      margin: 0;
    }
  }

  .number {
    color: $smoke_color;
    width: 100%;
    font-size: 12px;
  }

  .list_user {
    overflow: hidden;
  }

  .vue-tempalte {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

    .App {
      height: calc(100vh - 50px);
    }

    &.login-form {
      .App {
        margin-top: 10px;
      }

      .vertical-center {
        display: flex;
        text-align: left;
        justify-content: center;
        flex-direction: column;
      }
    }

    .chat-window {
      display: flex;
      height: 100%;
      background: rgb(54 57 63);

      .left-panel {
        background: $sidebar-background;
        position: relative;
      }

      .searchBarComponent {
        width: 100%;
        height: 28px;
        overflow: hidden;
        border-radius: 4px;
        background-color: $botton-background;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $smoke_color;
        text-align: left;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        white-space: nowrap;
        border: none;
      }

      .bottom-sidebar {
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      .list-conversations {
        overflow-y: auto;

        .conversation {
          background: $item-background;
          border-radius: 5px;
          position: relative;
          cursor: pointer;

          .setting {
            display: none;
            position: absolute;
            right: 30px;
            top: 13px;
            line-height: inherit;
            color: #70757a;
            outline: none;
            width: 20px;
          }
          .close {
            display: none;
            position: absolute;
            right: 5px;
            top: 13px;
            line-height: inherit;
            color: #70757a;
            outline: none;
            width: 20px;
          }

          &:hover {
            background: $item-background-hover;

            .close, .setting {
              display: block;
            }
          }
        }

        .conversationName {
          display: inline-flex;
          line-height: inherit;
          flex-wrap: wrap;
          vertical-align: middle;
        }
      }
    }
  }
}